In [4]:
import pandas as pd

In [7]:
import json
from pandas.io.json import json_normalize

In [91]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects.json')

# 1.Find the 10 countries with most projects
sample_json_df.countryname.value_counts().head(10)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [191]:
# load as Pandas list
with open('data/world_bank_projects.json')as f:
    sample_json_ls=json.load(f)

# 2.Find the top 10 major project themes (using column 'mjtheme_namecode')
sample_json_df = json_normalize(sample_json_ls,'mjtheme_namecode')
sample_json_df.name.value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [223]:
# 3.In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

# fill based on their code
sample_json_df.code.unique()
sample_json_df.name.unique()
sample_json_df.groupby(['code','name']).count()

Empty DataFrame
Columns: []
Index: [(1, ), (1, Economic management), (10, ), (10, Rural development), (11, ), (11, Environment and natural resources management), (2, ), (2, Public sector governance), (3, ), (3, Rule of law), (4, ), (4, Financial and private sector development), (5, ), (5, Trade and integration), (6, ), (6, Social protection and risk management), (7, ), (7, Social dev/gender/inclusion), (8, ), (8, Human development), (9, ), (9, Urban development)]

In [233]:
sample_json_df.loc[sample_json_df.code == '1','name']  = 'Economic management'
sample_json_df.loc[sample_json_df.code == '10','name']  = 'Rural development'
sample_json_df.loc[sample_json_df.code == '11','name']  = 'Environment and natural resources management'
sample_json_df.loc[sample_json_df.code == '2','name']  = 'Public sector governance'
sample_json_df.loc[sample_json_df.code == '3','name']  = 'Rule of law'
sample_json_df.loc[sample_json_df.code == '4','name']  = 'Financial and private sector development'
sample_json_df.loc[sample_json_df.code == '5','name']  = 'Trade and integration'
sample_json_df.loc[sample_json_df.code == '6','name']  = 'Social protection and risk management'
sample_json_df.loc[sample_json_df.code == '7','name']  = 'Social dev/gender/inclusion'
sample_json_df.loc[sample_json_df.code == '8','name']  = 'Human development'
sample_json_df.loc[sample_json_df.code == '9','name']  = 'Urban development'